body{
    background-color: black;
}
.allfooter{
    margin-top: -800px;
}
#optns{
    width:500px;
    height: 50px;
    position: relative;
    top:100px;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color:#000145;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding :14px;

}

#optns:hover{
    box-shadow: 0px 0px 20px #f0007c;
    transition: all 0.1s linear;
}
div.optns1{
    width:500px;
    height: 50px;
    position: relative;
    top:100px;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color:#1a1a33;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding :14px;

}
div.optns1:hover{
    background-color:#f0007c ;
    transition: all 0.1s linear;
}
#nxt{
    width:100px;
    height: 50px;
    position: relative;
    top:100px;
    left:509px;
    text-align: center;
    z-index: 1;
    color: #fff;
    background-color:#000145;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding :14px;
}
#nxt:hover{
    background-color:#f0007c ;
    transition: all 0.1s linear;
}